* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url(images/bg.png);
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* HEADER */

.header-container {
    height: 60px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header-container .wrapper{
    max-width: 1400px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

header div.left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div.logo {
    margin-right: 150px;
}

.header-container {
    border-bottom: solid 1px white;
}

input[type="text" i] {
    border: 0;
    color: #A1A1A1;
}

input {
    background-color: transparent;
    font-style: italic;
    width: 240px;
    font-size: 15px;
}

form.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form.search-bar input:placeholder-shown {
    text-overflow: ellipsis;
}

form.search-bar i {
    color: #A1A1A1;
}

button[type="submit"] {
    background-color: transparent;
    border: 0;
}

button[type="submit"]:hover {
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo .logo-img {
    width: 40px;
}

.logo .slogan-img {
    margin-left: 10px;
}

/* NAVIGATION */

.link-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1225px;
    list-style-type: none;       
}

.link-list li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.nav-container {
    margin: 40px;
}

/* MAIN */

/* Heading */

div.page-heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.page-heading h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}

div.featured-trips {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.featured-trips a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin-right: 5px;
}

.discover-btn {
    background-color: #357B95;
    border: 0;
    padding: 15px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 50px;
    color: white
}

.discover-btn:hover {
    cursor: pointer;
}

/* Heading */

div.gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px

}

.gallery img {
    width: 250px;
    position: relative;
    text-align: center;
}

div.image-box .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

div.image-box .details h1 {
    font-size: 18px;
}

div.details .number {
    margin-bottom: 40px;
    background-color: #357B95;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding-top: 11px;
    font-size: 18px;
}

div.details button {
    margin-top: 40px;
    background-color: #357B95;
    border: 0;
    padding: 15px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    display: none;
}

div.image-box {
    position: relative;
}

div.details{
    position: absolute;
    bottom: 20px;
    right: 20px;
    align-content: center;
    margin-bottom: 25px;
}

div.details.one{
    padding-left: 20px;
    padding-right: 25px;
}

div.details.two{
    padding-left: 20px;
    padding-right: 40px;
}

div.details.three{
    padding-left: 20px;
    padding-right: 35px;
}

div.details.four{
    padding-left: 20px;
    padding-right: 30px;
}


/* //------------------- */

div.image-box .details-hover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

div.image-box .details-hover h1 {
    font-size: 18px;
    color: white;
}

div.image-box .details-hover .image-country {
    color: white;
}

div.details-hover .number {
    margin-bottom: 40px;
    background-color: #357B95;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
}

div.details-hover button {
    margin-top: 40px;
    background-color: #357B95;
    border: 0;
    padding: 15px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 50px;
    color: white;
    font-size: 16px;
}

div.image-box {
    position: relative;
}

div.details-hover {
    position: absolute;
    bottom: 20px;
    right: 20px;
    align-content: center;
    margin-bottom: 25px;
    display: none;
}

div.image-box .details-hover {
    display: none;
}